@theme {
  --color-light-primary: #296a48;
  --color-light-surface-tint: #296a48;
  --color-light-on-primary: #ffffff;
  --color-light-primary-container: #aef2c6;
  --color-light-on-primary-container: #075232;
  --color-light-secondary: #4e6355;
  --color-light-on-secondary: #ffffff;
  --color-light-secondary-container: #d1e8d6;
  --color-light-on-secondary-container: #374b3e;
  --color-light-tertiary: #3b6471;
  --color-light-on-tertiary: #ffffff;
  --color-light-tertiary-container: #bfe9f8;
  --color-light-on-tertiary-container: #224c58;
  --color-light-error: #ba1a1a;
  --color-light-on-error: #ffffff;
  --color-light-error-container: #ffdad6;
  --color-light-on-error-container: #93000a;
  --color-light-background: #f6fbf4;
  --color-light-on-background: #171d19;
  --color-light-surface: #f6fbf4;
  --color-light-on-surface: #171d19;
  --color-light-surface-variant: #dce5dc;
  --color-light-on-surface-variant: #404942;
  --color-light-outline: #717972;
  --color-light-outline-variant: #c0c9c0;
  --color-light-shadow: #000000;
  --color-light-scrim: #000000;
  --color-light-inverse-surface: #2c322d;
  --color-light-inverse-on-surface: #edf2eb;
  --color-light-inverse-primary: #92d5ab;
  --color-light-primary-fixed: #aef2c6;
  --color-light-on-primary-fixed: #002111;
  --color-light-primary-fixed-dim: #92d5ab;
  --color-light-on-primary-fixed-variant: #075232;
  --color-light-secondary: #4e6355;
  --color-light-on-secondary-fixed: #0c1f14;
  --color-light-secondary-fixed-dim: #b5ccba;
  --color-light-on-secondary-fixed-variant: #374b3e;
  --color-light-tertiary-fixed: #bfe9f8;
  --color-light-on-tertiary-fixed: #001f27;
  --color-light-tertiary-fixed-dim: #a3cddc;
  --color-light-on-tertiary-fixed-variant: #224c58;
  --color-light-surface-dim: #d6dbd5;
  --color-light-surface-bright: #f6fbf4;
  --color-light-surface-container-lowest: #ffffff;
  --color-light-surface-container-low: #f0f5ee;
  --color-light-surface-container: #eaefe8;
  --color-light-surface-container-high: #e4eae3;
  --color-light-surface-container-highest: #dfe4dd;
  --color-dark-primary: #92d5ab;
  --color-dark-surface-tint: #92d5ab;
  --color-dark-on-primary: #003920;
  --color-dark-primary-container: #075232;
  --color-dark-on-primary-container: #aef2c6;
  --color-dark-secondary: #b5ccba;
  --color-dark-on-secondary: #213528;
  --color-dark-secondary-container: #374b3e;
  --color-dark-on-secondary-container: #d1e8d6;
  --color-dark-tertiary: #a3cddc;
  --color-dark-on-tertiary: #043541;
  --color-dark-tertiary-container: #224c58;
  --color-dark-on-tertiary-container: #bfe9f8;
  --color-dark-error: #ffb4ab;
  --color-dark-on-error: #690005;
  --color-dark-error-container: #93000a;
  --color-dark-on-error-container: #ffdad6;
  --color-dark-background: #0f1511;
  --color-dark-on-background: #dfe4dd;
  --color-dark-surface: #0f1511;
  --color-dark-on-surface: #dfe4dd;
  --color-dark-surface-variant: #404942;
  --color-dark-on-surface-variant: #c0c9c0;
  --color-dark-outline: #8a938b;
  --color-dark-outline-variant: #404942;
  --color-dark-shadow: #000000;
  --color-dark-scrim: #000000;
  --color-dark-inverse-surface: #dfe4dd;
  --color-dark-inverse-on-surface: #2c322d;
  --color-dark-inverse-primary: #296a48;
  --color-dark-primary-fixed: #aef2c6;
  --color-dark-on-primary-fixed: #002111;
  --color-dark-primary-fixed-dim: #92d5ab;
  --color-dark-on-primary-fixed-variant: #075232;
  --color-dark-secondary: #b5ccba;
  --color-dark-on-secondary-fixed: #0c1f14;
  --color-dark-secondary-fixed-dim: #b5ccba;
  --color-dark-on-secondary-fixed-variant: #374b3e;
  --color-dark-tertiary-fixed: #bfe9f8;
  --color-dark-on-tertiary-fixed: #001f27;
  --color-dark-tertiary-fixed-dim: #a3cddc;
  --color-dark-on-tertiary-fixed-variant: #224c58;
  --color-dark-surface-dim: #0f1511;
  --color-dark-surface-bright: #353b36;
  --color-dark-surface-container-lowest: #0a0f0c;
  --color-dark-surface-container-low: #171d19;
  --color-dark-surface-container: #1b211d;
  --color-dark-surface-container-high: #262b27;
  --color-dark-surface-container-highest: #313632;
  --color-light-link: var(--color-blue-700);
  --color-dark-link: var(--color-blue-300);
  --color-light-form: var(--color-light-surface-container-lowest);
  --color-light-on-form: var(--color-dark-surface-container-lowest);
  --color-dark-form: var(--color-light-on-surface);
  --color-dark-on-form: var(--color-dark-on-surface);
}
